<!DOCTYPE html>
<html lang="en">
<head>
   <style>
      body{
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
   </style>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form method="post" action="/url">
      <label>Enter your Url</label>
      <input type="text" placeholder="enter url" name="url">
      <button>Sunmit</button>
   </form>
</body>
</html>